<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    
	<!--
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/views/error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/views/error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/fileNotFound.xhtml</location>
    </error-page>
    -->
	
    <!-- Standard config -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
    <context-param>
		<param-name>javax.faces.FACELETS_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
    <context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.validator.DISABLE_DEFAULT_BEAN_VALIDATOR</param-name>
		<param-value>true</param-value>
	</context-param>
    
    <!-- Mojarra config -->
    <context-param>
        <param-name>com.sun.faces.numberOfViewsInSession</param-name>
        <param-value>10</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.numberOfLogicalViews</param-name>
        <param-value>10</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.preferXHTML</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.compressViewState</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param> 
        <param-name>com.sun.faces.disableVersionTracking</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.sendPoweredByHeader</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.enableViewStateIdRendering</param-name>
        <param-value>false</param-value>
    </context-param>
    
    <session-config>
        <session-timeout>15</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    
    <!-- 
            FILTERS
    -->
    <filter>
		<description>Sets the charset to UTF-8 if not set by browser such as IE, Chrome</description>
		<filter-name>CharsetEncodingFilter</filter-name>
		<filter-class>at.ac.tuwien.ase09.webapp.CharsetEncodingFilter</filter-class>
	</filter>
	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>at.ac.tuwien.ase09.webapp.UserFilter</filter-class>
	</filter>
	
	
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
		
	
	
    <!--
            MAPPINGS
    -->
    <filter-mapping>
		<filter-name>CharsetEncodingFilter</filter-name>
    	<url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>UserFilter</filter-name>
    	<url-pattern>/protected/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>ASYNC</dispatcher>
    </filter-mapping>
    
    <!-- 
    		Security Constraints
    -->
    <security-constraint>
    	<web-resource-collection>
    		<web-resource-name>Protected</web-resource-name>
    		<url-pattern>/protected/*</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
    		<role-name>user</role-name>
    	</auth-constraint>
    </security-constraint>
    
    <login-config>
    	<auth-method>KEYCLOAK</auth-method>
    	<realm-name>portfolio-webapp</realm-name>
    </login-config>
    
    <security-role>
    	<role-name>user</role-name>
    </security-role>
    
    <welcome-file-list>
    	<welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
